

.home,
.projects,
.skills {
  color: var(--txt-color);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  scroll-snap-align: start;
  min-height: 100vh;
}
.home {
  height: 100vh;
}
body {
  background: radial-gradient(circle at top left, var(--bg-2) 0%, var(--bg-1) 75%);
  background-repeat: no-repeat;
}
.themeChanger {
  font-size: 1.2rem;
}
.skills {
  margin-bottom: 5rem;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
  gap: 1rem;
  margin-inline: 15rem;
}
.cards > * {
  flex-grow: 1;
}
.card {
  border: 1px solid var(--txt-color);
  border-radius: 5px;
  padding: 1rem 5px;
}
.rotate {
  animation: rotation 5s infinite linear;
}
.tech {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1.5rem;
  place-items: center;
  gap: 2.5rem;
  margin-inline: 15rem;
}
.tech > * {
  flex-grow: 1;
}
#github {
  margin-right: 0.8rem;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
