@media (max-width: 1100px) {
  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .tech {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
  }
  .tech span {
    display: block;
  }
  .skills {
    padding-top: 50px;
    height: calc(115vh - 70px);
  }
  .spacing {
    height: 15vh;
  }
  footer {
    flex-direction: column;
    justify-content: center;
  }
  p {
    font-size: 0.9rem;
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 2.3rem;
  }
  nav {
    padding-inline: 1px;
  }
  nav div {
    margin-right: 0px;
  }
  nav img {
    margin-left: 5px;
  }
  .projects {
    padding-top: 100px;
  }
  .tech {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    gap: 1.5rem;
  }
  .cards {
    grid-template-columns: 1fr;
  }
  .cards div {
    padding: 10px;
  }
  .cards > :last-child {
    grid-column: span 1;
  }
  .tech img {
    height: 75px;
  }
  .tech span {
    display: none;
  }
  .tech {
    margin-block: 1rem;
  }
  .skills {
    height: calc(120vh - 70px);
  }
  .spacing {
    height: 15vh;
  }
  footer {
    flex-direction: column;
    justify-content: center;
  }
  p {
    font-size: 0.9rem;
  }
}
