@media (max-width: 1100px) {
  .cards {
    margin-inline: 5rem;
  }
  .tech {
    margin-inline: 5rem;
  }
  .skills {
    height: calc(115vh - 70px);
  }
  footer {
    flex-direction: column;
    justify-content: center;
  }
  p {
    font-size: 0.9rem;
  }
}
@media (max-width: 600px) {
  h1 {
    font-size: 2.3rem;
  }
  nav {
    padding-inline: 1px;
  }
  nav div {
    margin-right: 0px;
  }
  nav img {
    margin-left: 5px;
  }
  .skills,
  .projects {
    height: calc(100vh - 70px);
    padding: 0px;
  }
  .projects {
    height: calc(130vh - 70px);
  }
  .cards {
    margin-inline: 1rem;
  }
  .tech img {
    height: 75px;
  }
  .tech span {
    display: none;
  }
  .tech {
    margin-block: 1rem;
  }
  .skills {
    height: calc(120vh - 70px);
  }
  footer {
    flex-direction: column;
    justify-content: center;
  }
  p {
    font-size: 0.9rem;
  }
}

@media (max-height: 550px) and (max-width: 1100px) {
  .skills,
  .projects {
    height: calc(150vh - 70px);
  }
}
